<div id="{{ anchor }}" class="help-segment">
    <h4>{{ title }}</h4>
    <p>
        {{ introduction }}
    </p>
    <ul class="list-unstyled help-requirements">
        <b class="header">Skill sets</b>
        <li>
            <ul>
                {% for requirement in requirements %}
                    <li>{{ requirement | raw }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <p>
        {{ content }}
    </p>
    <ul class="list-unstyled help-knowledge">
        <li><b>Handy Insights</b>
            <ul>
                {% for tip in tips %}
                <li>{{ tip | raw}}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>