{% set title = 'Forms with Tina4' %}

{% set introduction %}
    One of the most common tasks besides displaying information in a website is capturing data from a form.  Let's have a look how we can do this in Tina4.
{% endset %}

{% set requirements = ['HTML', 'PHP', 'Twig'] %}

{% set content %}
    <h5>Processing a form using Twig</h5>
    <p>In the code below we have an example of a form in a twig template dumping the variables that have been passed in the inputs, if you save the content below in the <code>src/templates</code> folder as
    <code>contact.twig</code> you can access it at <a href="/contact">here</a>.
    <pre><code>{{ include_code("examples/forms-twig-example.twig"| raw) }}</code></pre>
    </p>
    In the <code>src/app</code> folder add the content below to a file called <code>Contact.php</code> which will facilitate the processing of your form information
    <p>
    <pre><code>{{ include_code("examples/forms-twig-class.twig"| raw) }}</code></pre>
    </p>
    <h5>Processing a form using a post route </h5>
    <p>
    We can use a similar form as before to post to a route, this will involve creating a POST route and we can use the class we already have to process the data. Add the following code to <code>src/templates/contact.twig</code>
    and access it <a href="/contact">here</a>.
    <pre><code>{{ include_code("examples/forms-normal-example.twig"| raw) }}</code></pre>
    </p>
    <p>
    Add the following code to <code>src/routes/contact.php</code> which will handle the post information from the form.  Notice this router does a redirect with some inline params. The <code>formToken</code> is passed with
    so the request variables can be displayed in the twig template.
    <pre><code>{{ include_code("examples/forms-php-route.twig"| raw) }}</code></pre>
    </p>
{% endset %}

{% set tips = [
    'Notice the use of the <code>formToken</code> input, this is required for all forms to be submitted',
    'Use <code>{{ "token information" | formToken | raw  }}</code> to create the hidden input automatically',
    '<code>Tina4.call</code> is a twig function to access your PHP code from twig, it takes on three params, <code>classname, method, array of variables</code>',
    'Keeping the form method POST route the same name as the GET route allows for good flow in a browser when the person hits back and forward. '
]
%}

{% include "documentation/components/help-segment.twig" %}